/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.address__list, .project__list, .filter__list, .clients__list, .social-links, .card-1, .cards, .wd__list, .special, .contacts__list, .navigation__list, .page-header__social-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.address__link, .contacts__link, .navigation__link, .logo, .page-header__social-link {
  text-decoration: none;
}

.modal__btn-close, .subscribe__input-email, .btn-menu, .btn__filter, .btn {
  padding: 0;
  border: 0;
}

.portfolio__title--hidden, .section-special__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__title, .subscribe__txt, .join__txt, .address__item, .address__txt, .card__job, .card__title, .card__overlay, .clients__title, .card-item__job, .card-item__name, .team__title, .wd__title, .wwd__title, .special__txt, .special__title {
  margin: 0;
}

.card-item__img {
  display: block;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
  }
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.btn {
  cursor: pointer;
}
.btn__hero--padding {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
.btn__hero:hover, .btn__hero:focus {
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn__subscribe--padding {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 31px;
}
.btn__icon-send {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../images/btn/send.svg);
}
.btn__icon-send--margin-left {
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .btn__icon-send--margin-left {
    margin-left: 10px;
  }
}
.btn__subscribe--flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn__modal--padding {
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
}
.btn__modal--center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn__filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  color: #212121;
}
.btn__filter--size {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}
.btn__filter--size-first-btn {
  padding-right: 25px;
  padding-left: 25px;
}
.btn__filter:hover, .btn__filter:focus {
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}

.btn-menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}
.btn-menu__svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.btn-menu--margin {
  margin-left: auto;
}
.btn-menu .icon-cross {
  display: none;
}
.btn-menu.is-open .icon-cross {
  display: block;
}
.btn-menu.is-open .icon-menu {
  display: none;
}

.page-header__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media screen and (min-width: 768px) {
  .page-header__social-links {
    display: none;
  }
}
.page-header__social-links-item--margin-rigth:not(:last-child) {
  margin-right: 20px;
}
.page-header__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    height: 60px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo--margin-right {
  margin-right: 88px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
  .logo--margin-right {
    margin-right: 92px;
  }
}

.page-header__logo {
  color: #000000;
}

.menu-container {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: block;
    z-index: 1;
  }
  .menu-container--flex.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-container--padding {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 48px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__list {
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .navigation__list--margin-bottom {
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 50px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item--margin-bottom:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation__link {
  display: block;
  font-size: 40px;
  line-height: 47px;
  color: #212121;
  letter-spacing: 0.02em;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    position: relative;
    font-size: 14px;
    line-height: 16px;
  }
  .navigation__link--height {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__list--margin-bottom-last {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contacts__list--margin-left {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item--margin-bottom:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item--margin-bottom:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item--margin-right:last-child {
    margin-right: 30px;
  }
}

.contacts__icon {
  fill: #757575;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
  }
}
.contacts__icon--margin-right {
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts__icon--margin-right {
    margin-right: 10px;
  }
}

.contacts__link {
  font-weight: 500;
  color: #757575;
  letter-spacing: 0.02em;
  display: block;
}
.contacts__link--size-tel {
  font-size: 34px;
  line-height: 40px;
}
@media screen and (max-width: 767px) {
  .contacts__link--size-tel {
    color: #2196f3;
  }
}
.contacts__link--size-envelop {
  font-size: 24px;
  line-height: 28px;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 14px;
  }
  .contacts__link--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
}

.this-page {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .this-page {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}
@media screen and (min-width: 768px) {
  .this-page::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-radius: 2px;
    border: 2px solid #2196f3;
  }
}

.line {
  border: 1px solid #ececec;
}

.section--padding-top {
  padding-top: 60px;
}
.section--padding-bottom {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section--padding-top {
    padding-top: 94px;
  }
  .section--padding-bottom {
    padding-bottom: 94px;
  }
}

.section-hero {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .section-hero {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
  }
}

.section-hero__bg {
  background-size: 100% 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}
@media screen and (min-device-pixel-ratio: 1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-480-x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480-x1.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-480-x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480-x2.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-480-x3.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-480-x3.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 1), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 480px) and (min-resolution: 96dpi), screen and (min-width: 480px) and (min-resolution: 1dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-768-x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768-x1.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-768-x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768-x2.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 3), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 480px) and (min-resolution: 288dpi), screen and (min-width: 480px) and (min-resolution: 3dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-768-x3.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-768-x3.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1600-x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600-x1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1600-x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600-x2.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .section-hero__bg {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-1600-x3.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-1600-x3.jpg);
  }
}

.section-hero__wraper--padding {
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .section-hero__wraper--padding {
    padding-right: 189px;
    padding-left: 189px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .section-hero__wraper--padding {
    padding-right: 234px;
    padding-left: 234px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-section__title--margin {
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .special--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .special__item--margin-bottom:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .special__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .special__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.special__bg--margin-bottom {
  margin-bottom: 30px;
}
.special__bg--cl {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.special__bg--img {
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
}
.special__bg--img-antenna {
  background-image: url(../images/specials/antenna.svg);
}
.special__bg--img-clock {
  background-image: url(../images/specials/clock.svg);
}
.special__bg--img-diagram {
  background-image: url(../images/specials/diagram.svg);
}
.special__bg--img-astronaut {
  background-image: url(../images/specials/astronaut.svg);
}

.special__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
}
.special__title--margin-bottom {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .special__title {
    text-align: center;
  }
}

.special__txt {
  line-height: 24px;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .wwd {
    display: none;
  }
}

.wwd__title {
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  text-align: center;
}
.wwd__title--margin-bottom {
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .wwd__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.wd__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
}

.wd__title {
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
.wd__title--position {
  position: absolute;
  bottom: 0;
}
.wd__title--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wd__item--position {
  position: relative;
}

.wd__img {
  display: block;
}

.our-team--bg-cl {
  background-color: #f5f4fa;
}

.team__title {
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  text-align: center;
}
.team__title--margin-bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title--margin-bottom {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.cards__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.cards__item--padding-bottom {
  padding-bottom: 24px;
}
@media screen and (max-width: 767px) {
  .cards__item--margin-bottom:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 60px) / 2);
  }
  .cards__item--margin {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: calc((100% - 120px) / 4);
  }
  .cards__item--padding-bottom {
    padding-bottom: 30px;
  }
}

.card-1 {
  text-align: center;
}
.card-1--padding-bottom {
  padding-bottom: 24px;
}

.card__item-img--margin-bottom {
  margin-bottom: 30px;
}

.card-item__img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .card-item__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-item__img {
    width: 270px;
  }
}

.card__item-name--margin-bottom {
  margin-bottom: 10px;
}

.card-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}

.card__item-job--margin-bottom {
  margin-bottom: 16px;
}

.card-item__job {
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.social-links--gap {
  gap: 10px;
}

.social-links__item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link--position-relative {
  position: relative;
}
.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}
.social-link:hover .social-link__icon, .social-link:focus .social-link__icon {
  fill: #ffffff;
}

.social-link__icon--position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.social-link__icon--fill {
  fill: #afb1b8;
}

.clients__title {
  font-size: 28px;
  line-height: 33px;
  color: #212121;
  text-align: center;
}
.clients__title--margin-bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__list--gap {
  gap: 30px;
}

.client__item {
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client__link:hover, .client__link:focus {
  border-color: #2196f3;
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: #2196f3;
}

.client__icon {
  fill: #afb1b8;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.filter__list--margin-bottom {
  margin-bottom: 40px;
}

.blank {
  width: 100%;
}

.filter__item--margin-bottom {
  margin-bottom: 15px;
}
.filter__item--margin-right:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .filter__item--margin-center:first-child {
    margin-left: auto;
  }
  .filter__item--margin-center:last-child {
    margin-right: auto;
  }
}

.project__list {
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin: 15px;
}
.card:hover, .card:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transform: translatey(-2px);
          transform: translatey(-2px);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}
@media screen and (min-width: 768px) {
  .card {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: calc((100% - 90px) / 3);
  }
}

.card__top {
  display: inline-block;
  overflow: hidden;
}
.card__top--position-re {
  position: relative;
}
.card__top--margin-bottom {
  margin-bottom: 20px;
}

.card__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
.card__overlay--position-ab {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform linear 500ms;
  transition: -webkit-transform linear 500ms;
  transition: transform linear 500ms;
  transition: transform linear 500ms, -webkit-transform linear 500ms;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
}
.card__overlay--padding {
  padding-top: 77px;
  padding-right: 24px;
  padding-left: 24px;
}

.card_img {
  display: block;
  width: 100%;
  height: auto;
}

.card__title {
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.card__title--margin-bottom {
  margin-bottom: 4px;
}

.card__job {
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.cad__bottom--margin {
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
}

.page-footer--bg-cl {
  background-color: #2f303a;
}

.page-footer__section--padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1199px) {
  .page-footer__section {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__section--padding {
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__logo {
  color: #ffffff;
}
.page-footer__logo--margin-bottom {
  margin-bottom: 20px;
}
.page-footer__logo--block {
  display: block;
}

@media screen and (max-width: 767px) {
  .page-footer__box--margin-bottom {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__section--margin-bottom {
    margin-bottom: 60px;
  }
}

.address__txt {
  line-height: 24px;
  color: #ffffff;
}
.address__txt--margin-bottom {
  margin-bottom: 8px;
}

.address__link {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.address__item--margin-bottom {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .join--margin-bottom {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join--margin-left {
    margin-left: auto;
  }
  .join--padding-top {
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join--margin-right {
    margin-right: 93px;
  }
}

.join__txt {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.join__txt--margin-bottom {
  margin-bottom: 20px;
}

.social-link__page-footer--fill {
  fill: #ffffff;
}
.social-link__page-footer--bg-cl {
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe__txt {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe__txt--margin-bottom {
  margin-bottom: 20px;
}

.subscribe__input-email {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .subscribe__input-email--margin-bottom {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe__input-email {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input-email {
    width: 358px;
  }
  .subscribe__input-email--margin-right {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .wraper__footer-address--margin-right {
    margin-right: 70px;
  }
}

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity linear 500ms;
  transition: opacity linear 500ms;
  padding-top: 93px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal {
  display: block;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .modal--position {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal--padding {
  padding-top: 8px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.modal__wrap {
  position: relative;
}
.modal__wrap--margin-bottom {
  margin-bottom: 10px;
}
.modal__wrap:hover .modal__icon, .modal__wrap:focus-within > .modal__icon {
  fill: #2196f3;
}

.modal__title {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #212121;
}
@media (min-width: 1200px) {
  .modal__title {
    line-height: 23px;
  }
}
.modal__title--margin-bottom {
  margin-bottom: 12px;
}

.modal__label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__label--margin-bottom {
  margin-bottom: 4px;
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkbox:checked + .modal__check-box {
  background-color: #2196f3;
  border-color: transparent;
}

.modal__label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}
.modal__label-checkbox--margin-bottom {
  margin-bottom: 30px;
}
.modal__label-checkbox--gap {
  gap: 8px;
}

.modal__check-box {
  width: 16px;
  height: 15px;
  display: inline-block;
  background-image: url(../../images/check-box/check.svg);
  border: 2px solid #212121;
  border-radius: 2px;
  background-size: contain;
  background-origin: border-box;
  cursor: pointer;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.modal__input--margin-bottom {
  margin-bottom: 10px;
}
.modal__input--padding-left {
  padding-left: 42px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}
.modal__textarea--margin-bottom {
  margin-bottom: 20px;
}
.modal__textarea--padding {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.modal__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__btn-close--margin {
  margin-left: auto;
  margin-right: -32px;
  margin-bottom: 2px;
}
.modal__btn-close--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #2196f3;
}

.modal__icon {
  fill: #212121;
}
.modal__icon--position {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
}/*# sourceMappingURL=main.css.map */