.btn {
  @extend %button;
  @extend %btn;

  cursor: pointer;

  &__hero--padding {
    padding-top: $size-10;
    padding-right: $size-24;
    padding-bottom: $size-10;
    padding-left: $size-24;
  }

  &__hero:hover,
  &__hero:focus {
    background: $color-11;
    box-shadow: $shadow-044 $color-22;
    border-radius: $size-4;
  }

  &__subscribe--padding {
    padding-top: $size-10;
    padding-right: $size-28;
    padding-bottom: $size-10;
    padding-left: $size-31;
  }
  &__icon-send {
    display: inline-block;
    width: $size-24;
    height: $size-24;
    background-image: url(../../images/btn/send.svg);
  }

  &__icon-send--margin-left {
    margin-left: 12px;

    @media screen and (min-width: $desktop) {
      margin-left: 10px;
    }
  }

  &__subscribe--flex {
    @include flex(
      $display: inline-flex,
      $justify-content: center,
      $align-items: center
    );
  }

  &__modal--padding {
    padding-top: $size-10;
    padding-right: $size-52;
    padding-bottom: $size-10;
    padding-left: $size-52;
  }
  &__modal--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn__filter {
  @extend %button;

  font-weight: $font-weight-500;
  font-size: $size-16;
  line-height: $size-26;
  text-align: center;
  letter-spacing: $space-003em;

  background: $color-7;
  border-radius: $size-4;

  color: $color-4;

  &--size {
    padding-top: $size-6;
    padding-bottom: $size-6;
    padding-right: $size-22;
    padding-left: $size-22;
  }

  &--size-first-btn {
    padding-right: $size-25;
    padding-left: $size-25;
  }

  &:hover,
  &:focus {
    background: #2196f3;
    box-shadow: $shadow-031 $color-25, $shadow-012 $color-26,
      $shadow-022 $color-20;
    border-radius: $size-4;
    color: $color-3;
    cursor: pointer;
  }
}

.btn-menu {
  @extend %button;
  background-color: transparent;
  width: 40px;
  height: 40px;
  z-index: 1;
  @media screen and (min-width: $tablet) {
    display: none;
  }

  &__svg {
    display: inline-flex;
  }

  &--margin {
    margin-left: auto;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}
