// Fonts
$primary-font: "Roboto", sans-serif;
$second-font: "Raleway", sans-serif;

// Colors
$color-1: #afb1b8;
$color-2: #2196f3;
$color-3: #ffffff;
$color-4: #212121;
$color-5: #757575;
$color-6: #000000;
$color-7: #f5f4fa;
$color-8: rgba(255, 255, 255, 0.9);
$color-9: rgba(255, 255, 255, 0.6);
$color-10: #2f303a;
$color-11: #188ce8;
$color-12: rgba(47, 48, 58, 0.4);
$color-13: #c4c4c4;
$color-14: #ececec;
$color-15: #eeeeee;
$color-16: rgba(33, 150, 243, 0.9);
$color-18: rgba(0, 0, 0, 0.2);
$color-19: rgba(47, 48, 58, 0.8);
$color-20: rgba(0, 0, 0, 0.12);
$color-21: rgba(0, 0, 0, 0.14);
$color-22: rgba(0, 0, 0, 0.15);
$color-23: rgba(255, 255, 255, 0.1);
$color-24: rgba(255, 255, 255, 0.3);
$color-25: rgba(0, 0, 0, 0.1);
$color-26: rgba(0, 0, 0, 0.08);
$color-27: rgba(0, 0, 0, 0.06);
$color-28: rgba(0, 0, 0, 0.16);
$color-29: rgba(33, 33, 33, 0.2);
$color-30: rgba(117, 117, 117, 0.5);

// Font Weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

// Font Size and height
$size-1: 1px;
$size-4: 4px;
$size-8: 8px;
$size-6: 6px;
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-18: 18px;
$size-19: 19px;
$size-20: 20px;
$size-22: 22px;
$size-23: 23px;
$size-24: 24px;
$size-25: 25px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-31: 31px;
$size-32: 32px;
$size-33: 33px;
$size-34: 34px;
$size-36: 36px;
$size-40: 40px;
$size-42: 42px;
$size-44: 44px;
$size-47: 47px;
$size-50: 50px;
$size-52: 52px;
$size-60: 60px;
$size-70: 70px;
$size-1600: 1600px;
$size-1200: 1200px;

// letter-spacing
$space-001em: 0.01em;
$space-002em: 0.02em;
$space-003em: 0.03em;
$space-006em: 0.06em;

// Box-shadow
$shadow-011: 0px 1px 1px;
$shadow-012: 0px 1px 2px;
$shadow-013: 0px 1px 3px;
$shadow-021: 0px 2px 1px;
$shadow-022: 0px 2px 2px;
$shadow-031: 0px 3px 1px;
$shadow-044: 0px 4px 4px;
$shadow-146: 1px 4px 6px;

// Border
$solid: solid;
// Border-radius:
$border-r-0044: 0px 0px 4px 4px;

// Grid

// grid-number
$grid-number-4: 4;

// grid-margin
$grid-margin-30px: 30px;

